* {
    cursor: none;
}

.custom-cursor {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(175, 175, 175, 0.281);
    border-radius: 50%;
    box-shadow: inset 1px 1px 1px 0px #ffffff56;
    pointer-events: none;
    top: -20px;
    left: -20px;    
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.outline{
    position: absolute;
    width: 130%;
    height: 130%;
    border: 3px solid rgba(175, 175, 175, 0.281);
    border-radius: 50%;
    pointer-events: none;
    transition: all .3s cubic-bezier(0, 0.68, 0.18, 1);
}

.custom-cursor.clicked .outline{
    width: 300%;
    height: 300%;
    transition: all .3s cubic-bezier(0, 0.68, 0.18, 1);
}