header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 50%;
    transition: all 0.5s cubic-bezier(0, 0.68, 0.18, 1);
    animation: appear-blur 0.5s cubic-bezier(0, 0.68, 0.18, 1);
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
}

header a img{
    height: 3.5vh;
    transition: all 0.5s cubic-bezier(0, 0.68, 0.18, 1);
}

header.sticky {
    margin-top: 10px;
    padding: 0 10px;
    width: 30%;
    height: 5%;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.151), rgba(255, 255, 255, 0));
    background: #7e7e7e21;
    backdrop-filter: blur(10px);
    border-radius: 100px;
    transition: all 0.5s cubic-bezier(0, 0.68, 0.18, 1);
}

header.sticky a img{
    height: 2.5vh;
    transition: all 0.5s cubic-bezier(0, 0.68, 0.18, 1);
}

header.sticky nav ul{
    gap: 15px;
    font-size: calc(10px + 1vmin);
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    height: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: calc(10px + 1.5vmin);
    padding: 0;
}

nav ul li{
    list-style: none;
}

nav a{
    font-family: 'Konkhmer Sleokchher', cursive;
    text-align: center;
    color: #FFF;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    header {
        background: linear-gradient(173deg, rgb(117, 117, 117) 0%, rgba(13,13,13,1) 30%);
        position: fixed;
        bottom: 15px;
        top: unset;
        width: 50%;
        height: 50px;
        border-radius: 1000000px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav a{
        height: 34px;
    }
    
    .mobile-nav {
        background-color: #0d0d0d;
        border-radius: inherit;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
    }

    .mobile-menu {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 0px;
        margin: 5px;
    }

    .mobile-menu li{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav ul li img {
        filter: invert(1) brightness(85%);
        height: 34px;
    }

    .mobile-nav p{
        margin: 0;
    }
}

@keyframes appear-blur {
    0% {
        opacity: 0;
        scale: 0.8;
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        scale: 1;
        filter: blur(0);
    }
}