header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 50%;
    transition: all 0.5s cubic-bezier(0, 0.68, 0.18, 1);
}

header.sticky {
    margin-top: 10px;
    padding: 0 10px;
    width: 30%;
    height: 5%;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.151), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.5s cubic-bezier(0, 0.68, 0.18, 1);
}

header.sticky nav ul{
    gap: 10px;
    font-size: calc(10px + 1vmin);
}

header.sticky nav a{
    font-size: 1.5rem;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    height: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: calc(10px + 1.5vmin);
    padding: 0;
}

nav ul li{
    list-style: none;
}

nav a{
    font-family: 'Konkhmer Sleokchher', cursive;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    
}

/*animation: appear-blur 0.5s cubic-bezier(0, 0.68, 0.18, 1);*/
@keyframes appear-blur {
    0% {
        opacity: 0;
        scale: 0.8;
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        scale: 1;
        filter: blur(0);
    }
}