.arz-services{
    width: 100%;
    aspect-ratio: 16/8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-center{
    width: 90%;
    height: 90%;
    background-image: url('../assets/pawel-czerwinski-YAtspJ-HV2E-unsplash-scaled.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.services-flex{
    display: flex;
    flex-direction: row;
}